 /* Bbackground */

Background = #0a0a0a
Background-alt  =  #111111
surface = #181818
overlay = #404040
text = #e9e4e4

Redd  = #b86467
Greenn = #8d987e
Yello = #dabd8d
Bluue = #8ea4ba
Purplle =  #ab89b2
GB = #8ba8a4
